<IfModule mod_rewrite.c>
WriteEngine On
RewriteBase public/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ /public [L] DirectoryIndex index.html index.php
</IfModule>
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>
<IfModule dir_module> DirectoryIndex index.html index.php </IfModule>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ ^$1 [N]

RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
RewriteRule ^(.*)$ public/$1

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ server.php
</IfModule>
